<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

         <div class="contenedor">
            <h1 class="contenedor__titulo">Historia del Campeon</h1>
                <div class="contenedor__enlaces">
                        <a class="contenedor__link"  href="/">Home</a>
                        <a  class="contenedor__link" href="/splash">Splash Arts</a>
                        <a class="contenedor__link contenedor__admin" href="/admin">Admin</a>
                </div>
            <p class="contenedor__descripcion">
                    Desde que era pequeña, Xan Irelia estaba fascinada por la elegancia y la belleza del movimiento humano. Bajo la tutela de su abuela, aprendió los bailes tradicionales de su región. A pesar de cuestionar su supuesta conexión mística con el Espíritu de Jonia, el amor que sentía por los bailes era verdadero. En su búsqueda por dominar el arte, dejó su hogar para estudiar con algunos de los intérpretes más respetados de toda Jonia, en el Placidium de Navori.     
             </p>        
             <div class="contenedor__imagen" style="background-image: url('https://2.bp.blogspot.com/-omQpj2YLqRc/XKaGfQBeETI/AAAAAAAAE14/4EGw1ddhBGgAM_hBeUR3_us4xFn6wzvigCKgBGAs/w3840-h1080-p-k-no-nu/invictus-gaming-irelia-splash-art-lol-uhdpaper.com-4K-66.jpg');"></div>     
    </div>

</body>

</html>