<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="contenedor">
            <h1 class="contenedor__titulo">Splash Arts</h1>
            <div class="contenedor__enlaces">
                    <a class="contenedor__link" href="/">Home</a>
                    <a class="contenedor__link" href="/campeon">Historia del Campeon</a>
                    <a class="contenedor__link contenedor__admin" href="/admin">Admin</a>
            </div>
            <p class="contenedor__descripcion">Estos son los aspectos del capeon</p>   
            <div class="contenedor__imagen" style="background-image: url('https://lolstatic-a.akamaihd.net/frontpage/apps/prod/rg-irelia-reveal/en_US/207888cd45bc4f531b87ffffeb768df0a7a11421/assets/img/content/wallpaper/infiltrator-splash.jpg');"></div>     
    </div>
</body>

</html>