<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    <h1>Tienda</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aperiam, autem optio assumenda aut voluptas harum
        magnam dolores maiores id omnis natus ab amet laudantium. Officia aliquam doloremque natus libero.</p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/checkout">Checkout</a></li>
    </ul>

</body>

</html>